<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Newzic.Data.Properties.Settings.newzicConnectionString"
            connectionString="Data Source=CHRISTOPHE-PC\SQLEXPRESS;Initial Catalog=newzic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Newzic.Core.Properties.Settings.newzicConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=newzic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>